<div id="pvalue_tooltip" class="tooltip" style="display:none;">
<b>pvalue:</b><br/>
pvalue is used for <br/>
well<br/>
for what? <br/>
And why do we have it<br/>
if we can only handle p=2?</div>

<!-- These are the other tooltips that have to be written: 
 input_data_panel
 known_functions_panel
 algorithm
 wiring_diagram
 state_space
 discretization
-->
