<div id="pvalue_label_tooltip" class="tooltip" style="display:none;">
<b>pvalue:</b><br/>
pvalue is used for <br/>
well<br/>
for what? <br/>
And why do we have it<br/>
if we can only handle p=2?</div>

<div id="algorithm_label_tooltip" class="tooltip" style="display:none;">
<b>Choice of Algorithms</b><br/>
You can pick the algorithm to be used. <br/>
If <b>default</b> is selected, then the best <br/>
algorithm according to the data size is used. <br/>
</div>

<div id="job_name_label_tooltip" class="tooltip" style="display:none;">
<b>Job Name</b><br/>
Here you can optionally provide a name<br/>
for the job so you can more easily<br/>
identify it in the future<br/>
</div>

<div id="input_file_label_tooltip" class="tooltip" style="display:none;">
<b>Input File</b><br/>
You can choose to either upload a text<br/>
file containing your input data for this<br/>
job or you can click on the button below<br/>
to manually enter the data into the <br/>
browser in a form field.<br/>
</div>

<div id="nodes_label_tooltip" class="tooltip" style="display:none;">
<b>Nodes</b><br/>
Here you must specify the number of nodes<br/>
in the network in your input data<br/>
</div>

<!-- These are the other tooltips that have to be written: 
 input_data_panel
 known_functions_panel
 algorithm
 wiring_diagram
 state_space
 discretization
-->
